body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

div {
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    color: #ffffff;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#purple {
    background-color: purple;
}

#gray {
    background-color: gray;
}

#olive {
    background-color: olive;
}